$black: #000000;
$grey: #282828;

@mixin outline-button {
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: 1px solid $white;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-family: monospace;

  svg {
    height: 24px;

    path {
      transition: fill 0.3s ease;
    }
  }

  &:hover {
    background-color: $white;
    cursor: pointer;
    color: $black;

    svg path {
      fill: $black;
    }
  }
}
